/* Global Styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0; /* Remove default body margin */
}

.productBody {
    padding: 20px;
    margin: 0; /* Remove margin */
}

header h1 {
    color: #333;
    text-align: center;
}

/* Cart Item Container */
.cart-items-container {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 48%; /* Adjust width for cart items */
    margin-bottom: 20px;
}

    .cart-item:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.item-details {
    padding: 10px;
}

.item-name h3 {
    margin: 0;
}

.item-price p {
    margin: 0;
}

.item-size p {
    margin: 0;
}

.item-quantity {
    margin-top: 10px;
}

    .item-quantity button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

        .item-quantity button:hover {
            background-color: #45a049;
        }

    .item-quantity .quantity {
        margin: 0 5px;
    }

.item-subtotal {
    margin-top: 10px;
}

.item-actions {
    text-align: right;
}

.btn-remove {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .btn-remove:hover {
        background-color: #ff3333;
    }

/* Cart Summary */
.cart-summary {
    width: 48%; /* Adjust width for cart summary */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .cart-summary h3 {
        margin-top: 0;
    }

    .cart-summary p {
        margin: 10px 0;
    }

.total-items,
.total-price {
    font-weight: bold;
}

.btn-checkout {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .btn-checkout:hover {
        background-color: #005f70;
    }
