.mainBody {
    max-width: 1100px;
    position: relative;
    margin: auto;
}
/* Container styles */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Heading styles */
h2 {
    text-align: center;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
    width: 95%;
}

/* Label styles */
label {
    font-weight: bold;
}

/* Textbox styles */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Checkbox styles */
.checkboxPassword {
    margin-bottom: 20px;
}

    .checkboxPassword label {
        font-weight: normal;
    }

/* Button styles */
#BtnLogin {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    #BtnLogin:hover {
        background-color: #0056b3;
    }

/* Paragraph styles */
p {
    text-align: center;
}

/* Link styles */
a {
    color: #007bff;
}
