/* General styles for the cart page */
.productBody {
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    margin: 20px auto;
    padding: 15px;
}

    .productBody h1 {
        font-size: 2rem;
        color: #333;
        text-align: center;
        margin-bottom: 30px;
    }

.cart-items-container {
    display: flex;
    flex-direction: column;
   
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background-color: #f9f9f9;
 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cart-item-image-container img {
    width: 250px;
    height: 250px; /* Adjusted image size */
    margin: 10px 0px;
    margin-right: 20px;
    border-radius: 4px;
   
}

.item-details {
    flex-grow: 1;
  
    font-size: 0.9rem;
    display:flex;
    flex-direction:column;
}

.item-name h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
  
}

.item-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
   
}
.item-information {
    display: flex;
    
   
}
.item-color {
    padding-left:40px;
}
.item-price span {
    font-size: 1rem;
  
}

.qty {
    display:flex;
   
    border-radius: 4px;
 
 
}
.qty-qty {
    height:20%;
    padding: 5px;
    margin-top:10px;
    width:5%;
}
.item-subtotal {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: right;
    color: #333;
 
     align-items:end;
     width:100%;
}

.cart-summary {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background-color: #fff;
}

    .cart-summary h3 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 20px;
    }

.total-items, .total-price {
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: center; /* Ensures buttons are centered and displayed inline */
    padding: 10px 0;


}

.btn-checkout, .btn-continue-shopping {
    width: auto; /* Auto width based on content */
    padding: 10px 20px; /* Uniform padding */
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    margin: 0 10px; /* Space between buttons */
    cursor: pointer;
    text-transform: uppercase;
}

.btn-checkout {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
}

    .btn-checkout:hover {
        background-color: #d32f2f; /* Slightly darker red on hover */
    }


/* Responsive styles */
@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
    }

    .cart-item-image-container {
        margin-bottom: 15px;
    }

    .item-subtotal {
        text-align: left;
        margin-top: 10px;
    }

    .buttons-container {
        flex-direction: column;
    }

    .btn-checkout, .btn-continue-shopping {
        width: 100%; /* Full width for smaller screens */
        margin: 5px 0; /* Stack vertically with space between */
    }
}






/*ADD TO CART BUTTON*/
.cart-button {
    position: relative;
    margin-top: 15px;
    width: 520px;
    height: 50px;
    border: 2px solid black;
    padding: 20px 180px 20px 180px;
    cursor: pointer;
    transition: .3s ease-in-out;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
}

    .cart-button:active {
        transform: scale(.9);
    }

    .cart-button .fa-shopping-cart {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: -10%;
        font-size: 2em;
        transform: translate(-50%,-50%);
        color: black;
    }

    .cart-button .fa-shirt {
        position: absolute;
        z-index: 3;
        top: -20%;
        left: 52%;
        font-size: 1.2em;
        transform: translate(-50%,-50%);
        color: black;
    }

    .cart-button span {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: black;
        transform: translate(-50%,-50%);
    }

    .cart-button:hover {
        background-color: black;
        color: white;
    }

        .cart-button:hover span {
            color: white;
        }


        .cart-button:hover .fas,
        .cart-button:hover .fa-shopping-cart,
        .cart-button:hover .fa-shirt {
            color: white;
        }


    .cart-button span.add-to-cart {
        opacity: 1;
    }

    .cart-button span.added {
        opacity: 0;
    }

    .cart-button.clicked .fa-shopping-cart {
        animation: cart 1.5s ease-in-out forwards;
    }

    .cart-button.clicked .fa-shirt {
        animation: shirt 1.5s ease-in-out forwards;
    }

    .cart-button.clicked span.add-to-cart {
        animation: txt1 1.5s ease-in-out forwards;
    }

    .cart-button.clicked span.added {
        animation: txt2 1.5s ease-in-out forwards;
    }


.viewMoreSection {
    text-align: center;
    margin: 60px 0px 60px 0px;
}

.viewMoreButton {
    border: 2px solid black;
    padding: 20px 180px 20px 180px;
    background: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
}

    .viewMoreButton:hover {
        background-color: black;
        color: white;
    }
