.productBody {
    max-width: 1100px;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

.wrap-items-search-buttons {
    display: flex;
    width: 100%;
    align-items: center;
   
}
filter-button{
    display:flex;
}



.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 200px;
    margin: 40px auto;
    padding: 12px 15px;
    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .wrapper-dropdown-5:after { /* Little arrow */
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: #4cbeff transparent;
    }

    .wrapper-dropdown-5 .dropdown {
        /* Size & position */
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        /* Styles */
        background: #fff;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgba(0,0,0,0.2);
        border-top: none;
        border-bottom: none;
        list-style: none;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        /* Hiding */
        max-height: 0;
        overflow: hidden;
    }

        .wrapper-dropdown-5 .dropdown li {
            padding: 0 10px;
        }

            .wrapper-dropdown-5 .dropdown li a {
                display: block;
                text-decoration: none;
                color: #333;
                padding: 10px 0;
                transition: all 0.3s ease-out;
                border-bottom: 1px solid #e6e8ea;
            }

            .wrapper-dropdown-5 .dropdown li:last-of-type a {
                border: none;
            }

            .wrapper-dropdown-5 .dropdown li i {
                margin-right: 5px;
                color: inherit;
                vertical-align: middle;
            }

            /* Hover state */

            .wrapper-dropdown-5 .dropdown li:hover a {
                color: #57a9d9;
            }

    /* Active state */

    .wrapper-dropdown-5.active {
        border-radius: 5px 5px 0 0;
        background: #4cbeff;
        box-shadow: none;
        border-bottom: none;
        color: white;
    }

        .wrapper-dropdown-5.active:after {
            border-color: #82d1ff transparent;
        }

        .wrapper-dropdown-5.active .dropdown {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            max-height: 400px;
        }










.size-group {
    width: 10%;
}
.export-product-add{
    display:flex;
    margin-left:auto;
}
.export-excel {
    width: 10%;
   
}


.product-add {
    width: 10%;
    margin-left: auto;
}
.size-group {
    border-inline-color: red;
}



.search {
    --padding: 14px;
    width: 35%;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0,0,0,0.75);
}

.search-input {
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline:none;
    border:none;
    background:transparent;
    width:200px;
    flex:1;
}

.search-input::placeholder, .material-symbols-outlined {
    color: rgba(0,0,0,0.25);
}

