.mainBody {
    max-width: 1100px;
    position: relative;
    margin: auto;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.row {
    margin-top: 20px;
    width: 95%;
    justify-content: center;
}

.col {
    width: 100%;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #f90;
    }

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.bottom-container {
    margin-top: 20px;
    text-align: center;
}

    .bottom-container a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

        .bottom-container a:hover {
            color: #f90;
        }

