.dropdown-display {
    width: 150px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

    .dropdown-display option {
        padding: 10px;
        cursor: pointer;
    }

        .dropdown-display option:hover {
            background-color: #f0f0f0;
        }
