<?xml version="1.0"?>
<configuration>
  <system.web>

	  
	  
	  
	  <!--ADMIN AUTHORIZATION-->
	  
	  <location path="AdminPages/Dashboard.aspx">
		  <system.web>
			  <authorization>
				  <allow roles="Admin, Staff, Manager" />
				  <deny users="*" />
			  </authorization>
		  </system.web>
	  </location>
	  <!--DISCOUNT-->
	  <location path="AdminPages/AdminDiscount/addDiscount.aspx">
		  <system.web>
			  <authorization>
				  <allow users="*" />
				  <deny users="?" />
			  </authorization>
		  </system.web>
	  </location>
	  <location path="AdminPages/AdminDiscount/updateDiscount.aspx">
		  <system.web>
			  <authorization>
				  <allow users="*" />
				  <deny users="?" />
			  </authorization>
		  </system.web>
	  </location>
	  <!--END OF ADMIN AUTHORIZATION-->
  </system.web>

	<connectionStrings>
		<add name="UniqloConnectionString" connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=|DataDirectory|\Uniqlo.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
