<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	
  <connectionStrings>
	  <add name="UniqloConnectionString" connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=|DataDirectory|\Uniqlo.mdf;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="UniqloEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Uniqlo.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UniqloEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\mssqllocaldb;attachdbfilename=|DataDirectory|\Uniqlo.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
	
	
  <system.web>
	 <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
		<providers>
		  <clear />
		  <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="UniqloConnectionString" applicationName="/" />
		  <!-- Add more providers here if necessary -->
		</providers>
	  </roleManager>
	 
	 <!-- SITE MAP -->
	<siteMap enabled="true">
      <providers>
        <add name="AdminSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="admin.sitemap" securityTrimmingEnabled="true" /> <!-- SecurityTrimmingEnabled = Hide navigational in site map, based on role -->
        <add name="UserSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
	  
	  <!-- Authentication -->
	  <authentication mode="Forms">
		  <forms defaultUrl="/Pages/Home.aspx" loginUrl="/GeneralPages/Login.aspx" timeout="20160" />
	  </authentication>
	  
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages controlRenderingCompatibilityVersion="4.0" /> 
  </system.web>
	
    <!-- GENERAL AUTHORIZATION -->
	<location path="GeneralPages/Login.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>	
	
	<location path="GeneralPages/Logout.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>		
	
    <location path="GeneralPages/SignUp.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
				<deny users="*" />
				<deny users="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<!--END OF GENERAL AUTHORIZATION -->
	
	
	<!--USER AUTHORIZATION-->
	<location path="Pages/Cart.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />   
			</authorization>
		</system.web>
	</location>	
		
	<location path="Pages/Delivery.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />	
			</authorization>
		</system.web>
	</location>	
		
	<location path="Pages/EditProfile.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>	
		
	<location path="Pages/Profile.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>	
		
	<location path="Pages/Invoice.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>	
		
	<location path="Pages/OrderHistoryItem.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>	
		
	<location path="Pages/Payment.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>	
		
	<location path="Pages/TrackDelivery.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>	
		
	<location path="Pages/WishList.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />	
				<deny roles="Admin, Staff, Manager" />	
			</authorization>
		</system.web>
	</location>
	<!--END OF USER AUTHORIZATION-->	
	

	<!--ADMIN AUTHORIZATION-->
	<location path="AdminPages/Dashboard.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, Staff, Manager" /> 
				<deny users="*,?" /> 
			</authorization>
		</system.web>
	</location>

	<!--DISCOUNT-->
	<location path="AdminPages/AdminDiscount/addDiscount.aspx">
		<system.web>
			<authorization>
				<allow users="*" /> 
				<deny users="?" />  
			</authorization>
		</system.web>
	</location>        

	<location path="AdminPages/AdminDiscount/updateDiscount.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />  
			</authorization>
		</system.web>
	</location>


	
	
	
	<!--END OF ADMIN AUTHORIZATION-->
	
		
			
			
		
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	
	
	

	

	
		
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


</configuration>