<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="UniqloConnectionString" connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=|DataDirectory|\Uniqlo.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<location path="Pages/Cart.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/Delivery.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/EditProfile.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/Profile.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/Invoice.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/OrderHistoryItem.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/Payment.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/TrackDelivery.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/WishList.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/SignUp.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>
	
	
	<location path="Pages/Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="?" />
				<deny roles="Admin, Staff, Manager" />
			</authorization>
		</system.web>
	</location>
	<!--END OF USER AUTHORIZATION-->

</configuration>
